*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type=submit] {
  background: #185324;
  border: none;
  height: 5vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}