*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type=submit]{
  background: #16611b;
  border: none;
  height: 5vh;
  width: 10vw;
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.sucesso{
  color: #0a840a;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #7be67b;
  text-align: center;
  border: 2px solid #0a840a;
}

.erro{
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: pink;
  text-align: center;
  border: 2px solid red;
}

.fa-regular{
  cursor: pointer;
  user-select: none;
}