*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type=submit]{
  background-color: aqua;
  border: none;
  height: 10vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.sucesso{
  color: #0a840a;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #7be87b;
  text-align: center;
  border: 2px solid #0a840a;
}

.erro{
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #fb9898;
  text-align: center;
  border: 2px solid #ff0000;
}

.fa-regular{
  cursor: pointer;
  user-select: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;

}

.form-group div{
  margin: 3% 0;
  width: 100%;
}

.form-group input[type=email], input[type=password]{
  display: block;
  width: 50vw;
  height: 10vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.8);
  outline-color: grey;
  padding-left: 10px;
}

.form-group button[type=submit]{
  display: block;
  width: 25vw;
  height: 10vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(45, 44, 44, 0.8);
  outline-color: rgb(175, 172, 172);
  padding-left: 10px;
  transition:all .4s ease;
}

.form-group button[type=submit]:hover{
  box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.8);
  
}
