*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type=submit]{
  background-color: aqua;
  border: none;
  height: 10vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}