*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type=submit]{
  background-color: #184b32;
  color: white;
  border: none;
  width: 5vw;
  height: 5vh;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  font-size: 14px;
}