*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
  display: block;
  color: #ff0000;
  background-color: #0a840a;
  width: 6vw;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #ff0000;
  padding: 10px;
  transition: background-color .4s ease-in;
}

a:hover{
  background-color: #ff0000;
  color: #0a840a;
  border-color: #0a840a;
}

button[type=submit] {
  background: #185324;
  border: none;
  height: 5vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.sucesso {
  color: #0a840a;
  font-weight: 500;
  font-style: 1.5rem;
  background-color: #7be87b;
  text-align: center;
  border: 2px solid #0a840a;
}

.erro {
  color: #ff0000;
  font-weight: 500;
  font-style: 1.5rem;
  background-color: #fb9898;
  text-align: center;
  border: 2px solid #ff0000;
}

.fa-regular{
  cursor: pointer;
  user-select: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

.form-group div{
  margin: 3% 0;
  width: 100%;
}

.form-group input[type=email],input[type=password]{
  display: block;
  width: 50vw;
  height: 8vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  outline-color: #7b7e7b;
  padding-left: 10px;
}

.form-group button[type=submit]{
  display: block;
  width: 15vw;
  height: 8vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  outline-color: #7b7e7b;
  padding-left: 10px;
  transition: all .4s ease;
}

.form-group button[type=submit]:hover{
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, .8);
}

dialog{
  margin: 5% auto;
}