:root{
  --cor-principal: blueviolet;
  --fonte-padrao1: 1rem;
  --fonte-padrao2: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* a{
  display: block;
  color: #ff0000;
  background-color: #0a840a;
  width: 6vw;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #ff0000;
  padding: 10px;
  transition: background-color .4s ease-in;
} */

/* a:hover{
  background-color: #ff0000;
  color: #0a840a;
  border-color: #0a840a;
} */

button[type=submit] {
  display: block;
  color: #fff;
  font-size: var(--fonte-padrao2);
  height: 10vh;
  width: 20vw;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  outline-color: #7b7e7b;
  background: #006ebf;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: all .4s ease;
  cursor: pointer;
}

.sucesso {
  color: #0a840a;
  font-weight: 500;
  font-style: 2rem;
  background-color: rgba(36, 194, 36, 0.5);
  text-align: center;
  border: 2px solid #0a840a;
  margin: 10% auto;
  padding: 10px;
  border-radius: 10px;
}

.erro {
  color: #ff0000;
  font-weight: 500;
  font-style: 2rem;
  background-color: rgba(219, 90, 90, 0.5);
  text-align: center;
  border: 2px solid #ff0000;
  margin: 10% auto;
  padding: 10px;
  border-radius: 10px;
}

.fa-regular{
  cursor: pointer;
  user-select: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
}

.form-group div{
  margin: 3% auto;
  width: 80%;
}

.form-group input[type=email],input[type=password]{
  display: block;
  width: 40vw;
  height: 10vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  outline-color: #7b7e7b;
  padding-left: 10px;
  font-size: var(--fonte-padrao1);
}

/* .form-group button[type=submit]{
  display: block;
  width: 25vw;
  height: 8vh;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  outline-color: #7b7e7b;
  padding-left: 10px;
  transition: all .4s ease;
} */

.form-group button[type=submit]:hover{
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}

#modalDialog::backdrop{
  background-color: var(rgba(138, 43, 226, .8), --cor-principal);
  box-shadow: inset 0 0 1000px var(--cor-principal);
}

#modalDialog{
  margin: 5% auto;
  border: none;
  border-radius: 5px;
  background-image: url("../img/back-login-1280.jpg");
}